.food_display{
    margin-top: 30px;
}
.food_display h2{
    font-size: 20px;
    font-weight: 600;
}
.food_display_list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
@media (max-width:500px){
    .food_display_list{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(auto-fill); */
    }
}